/* Styles for the header, title, buttons, and search bar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.title {
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
}

.buttons-container-left {
    display: flex;
}

.search-container-right {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 8px;
    margin-right: 10px;
}

.search-btn {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-title {
    text-align: center;
}

.modal-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 30%;
    box-sizing: border-box;
}

.item-name {
    font-weight: bold;
}

.coin-value {
    color: #4CAF50;
}

/* Styles for the buttons */
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

/* Change the background color of the button on hover */
.btn:hover {
    background-color: #45a049; /* Darker green */
}
